<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_6atWVa_Om_wQdc3gvhPObRPIfc3-nx0</string>
	<key>GCM_SENDER_ID</key>
	<string>945487010136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geyserswitch.gsOrange</string>
	<key>PROJECT_ID</key>
	<string>geyserswitch-bloc</string>
	<key>STORAGE_BUCKET</key>
	<string>geyserswitch-bloc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945487010136:ios:167b7c5fb5d853fd50ad2d</string>
	<key>DATABASE_URL</key>
	<string>https://geyserswitch-bloc-default-rtdb.firebaseio.com</string>
</dict>
</plist>